#portfolio {
    padding: 80px 15px;
}

#portfolio .title {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#portfolio .title .square {
    background: #ffeded;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 80;
}

#portfolio .title h1 {
    position: relative;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #16171b;
    letter-spacing: 3.5px;
    z-index: 1;
}

#portfolio .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
}

#portfolio .portfolio-container .box {
    background: black;
    display: block;
    transition: all .4s ease-in-out;
    cursor: pointer;
    width: 100%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
}

#portfolio .portfolio-container .box:hover {
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
    box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
}

#portfolio .portfolio-container .box.image1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#portfolio .portfolio-container .box.image1 .image{
    background: url(../img/grand.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#portfolio .portfolio-container .box.image1 .image .hover-bg{
    background: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    transition: all .4s ease-in-out;
}

#portfolio .portfolio-container .box:hover .image .hover-bg{
    background: rgba(255, 255, 255, 0.6);
    padding: 10px 20px;
}


#portfolio .portfolio-container .box.image1 .hover-bg .title .text{
    background: black;
    border-radius: 5px;
    padding: 10px 20px;
    transform: translate3d(0, 400px, 0);
    transition: transform .2s ease-in-out .2s;
    opacity: 0;
}

#portfolio .portfolio-container .box:hover .image .hover-bg .title .text{
    background: black;
    border-radius: 5px;
    padding: 10px 20px;
    transform: translate3d(0, 0, 0);
    transition: all .2s ease-in-out .2s;
    opacity: 1;
}
